@model GameSalesSystemMVC.Models.DashboardModel
@{
    ViewBag.Title = "Home Page";
}
@{ 
   
        var topPurchasedGames = Model.PurchaseGames
    .GroupBy(p => p.GameId)
    .Select(g => new
    {
        GameId = g.Key,
        Game = g.First().Game, // Assuming Game property is not null
        PurchaseCount = g.Count()
    })
    .OrderByDescending(g => g.PurchaseCount)
    .Take(10)
    .ToList();
    
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings (Monthly)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$@Model.EarningsMonthly</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Earnings (Annual)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$@Model.EarningsAnnual</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->




    </div>

    <!-- Content Row -->

    

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Best Saller Games</h6>
                </div>
                <div class="card-body">


                    @foreach (var item in topPurchasedGames)
                    {
                        <h4 class="small font-weight-bold">
                            @item.Game.Title
                            <span class="float-right"> @item.PurchaseCount</span>
                        </h4>
                        <div class="progress mb-4">
                            <div class="progress-bar " role="progressbar" style="width: @item.PurchaseCount%"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    }




                </div>
            </div>

            <!-- Color System -->


        </div>


    </div>

</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->
